%h1 Listing menu_categories

%table
  %tr
    %th Category
    %th
    %th
    %th

  - @menu_categories.each do |menu_category|
    %tr
      %td= menu_category.category
      %td= link_to 'Show', menu_category
      %td= link_to 'Edit', edit_menu_category_path(menu_category)
      %td= link_to 'Destroy', menu_category, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Menu category', new_menu_category_path
