%h1 Listing menus
%table
  %tr
    %th Category
    %th Description
    %th Image
    %th Qty
    %th Price
    %th Prep time
    %th
    %th
    %th
  - @menus.each do |menu|
    %tr
      %td= menu.category
      %td= menu.description
      %td= menu.menu_image
      %td= menu.qty
      %td= number_to_currency(menu.price)
      %td= menu.prep_time
      %td= button_to 'Order', order_items_path(:menu_id => menu)
%br/
