%h1 Listing menus
%table
  %tr
    %th Category
    %th Description
    %th Image
    %th Qty
    %th Price
    %th Sp price
    %th Prep time
    %th
    %th
    %th
  - @menus.each do |menu|
    %tr
      %td= menu.category
      %td= menu.description
      %td= menu.menu_image
      %td= menu.qty
      %td= number_to_currency(menu.price)
      %td= number_to_currency(menu.sp_price)
      %td= menu.prep_time
      %td= link_to 'Show', menu
      %td= link_to 'Edit', edit_menu_path(menu)
      %td= link_to 'Destroy', menu, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Menu', new_menu_path