<h2>Sign up</h2>

<% resource.build_restaurant %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>
    
    <%= f.fields_for :restaurant do |restaurant_form| %>
      <h2><%= restaurant_form.label :name %></h2>
      <p><%= restaurant_form.text_field :name %></p>

      <h2><%= restaurant_form.label :address %></h2>
      <p><%= restaurant_form.text_field :address %></p>

      <h2><%= restaurant_form.label :city %></h2>
      <p><%= restaurant_form.text_field :city %></p>

      <h2><%= restaurant_form.label :state %></h2>
      <p><%= restaurant_form.text_field :state %></p>

      <h2><%= restaurant_form.label :zipcode %></h2>
      <p><%= restaurant_form.text_field :zipcode %></p>

      <h2><%= restaurant_form.label :pickup %></h2>
      <p><%= restaurant_form.radio_button :pickup, true %> <%= restaurant_form.label :pickup, "Yes" %></P>
      <p><%= restaurant_form.radio_button :pickup, false %> <%= restaurant_form.label :pickup, "No" %></p>

      <h2><%= restaurant_form.label :delivery %></h2>
      <p><%= restaurant_form.radio_button :delivery, true %> <%= restaurant_form.label :delivery, "Yes" %></P>
      <p><%= restaurant_form.radio_button :delivery, false %> <%= restaurant_form.label :delivery, "No" %></p>

      <h2><%= restaurant_form.label :min_delivery %></h2>
      <p><%= restaurant_form.text_field :min_delivery %></p>

      <h2><%= restaurant_form.label :delivery_fee %></h2>
      <p><%= restaurant_form.text_field :delivery_fee %></p>

      <h2><%= restaurant_form.label :logo %></h2>
      <p><%= restaurant_form.file_field :logo %></p>

      <h2><%= restaurant_form.label :mon_hours %></h2>
      <p><%= restaurant_form.text_field :mon_hours %></p>

      <h2><%= restaurant_form.label :tue_hours %></h2>
      <p><%= restaurant_form.text_field :tue_hours %></p>

      <h2><%= restaurant_form.label :wed_hours %></h2>
      <p><%= restaurant_form.text_field :wed_hours %></p>

      <h2><%= restaurant_form.label :wed_hours %></h2>
      <p><%= restaurant_form.text_field :wed_hours %></p>

      <h2><%= restaurant_form.label :thu_hours %></h2>
      <p><%= restaurant_form.text_field :thu_hours %></p>

      <h2><%= restaurant_form.label :fri_hours %></h2>
      <p><%= restaurant_form.text_field :fri_hours %></p>

      <h2><%= restaurant_form.label :sat_hours %></h2>
      <p><%= restaurant_form.text_field :sat_hours %></p>

      <h2><%= restaurant_form.label :sun_hours %></h2>
      <p><%= restaurant_form.text_field :sun_hours %></p>

      <h2><%= restaurant_form.label :description %></h2>
      <p><%= restaurant_form.text_field :description %></p>

      <h2><%= restaurant_form.label :website %></h2>
      <p><%= restaurant_form.text_field :website %></p>

      <h2><%= restaurant_form.label :image_carousel_limit %></h2>
      <p><%= restaurant_form.text_field :image_carousel_limit %></p>

      <h2><%= restaurant_form.label :image_carousel_count %></h2>
      <p><%= restaurant_form.text_field :image_carousel_count %></p>

      <h2><%= restaurant_form.label :payment_type_accepted %></h2>
      <p><%= restaurant_form.text_field :payment_type_accepted %></p>

    <% end %>
  

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
