%p#notice= notice
%p
  %b First Name:
  = @customer.first_name
%p
  %b Last Name:
  = @customer.last_name
%p
  %b Address:
  = @customer.address
%p
  %b City:
  = @customer.city
%p
  %b State:
  = @customer.state
%p
  %b Zipcode:
  = @customer.zipcode
%p
  %b Legal:
  = @customer.read_legal



= link_to 'Edit', edit_customer_path(@customer)
|
\#{link_to 'Back', customers_path}
