= form_for(@restaurant) do |f|
  - if @restaurant.errors.any?
    #error_explanation
      %h2
        = pluralize(@restaurant.errors.count, "error")
        prohibited this restaurant from being saved:
      %ul
        - @restaurant.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :address
    %br/
    = f.text_field :address
  .field
    = f.label :city
    %br/
    = f.text_field :city
  .field
    = f.label :state
    %br/
    = f.text_field :state
  .field
    = f.label :zipcode
    %br/
    = f.text_field :zipcode
  .field
    = f.label :pickup
    %br/
    = f.text_field :pickup
  .field
    = f.label :delivery
    %br/
    = f.text_field :delivery
  .field
    = f.label :min_delivery
    %br/
    = f.text_field :min_delivery
  .field
    = f.label :delivery_fee
    %br/
    = f.text_field :delivery_fee
  .actions
    = f.submit
