= form_for(@restaurant) do |f|
  - if @restaurant.errors.any?
    #error_explanation
      %h2
        = pluralize(@restaurant.errors.count, "error")
        prohibited this restaurant from being saved:
      %ul
        - @restaurant.errors.full_messages.each do |msg|
          %li= msg

  =semantic_form_for @contract do |f|
  = f.inputs :class => 'inline_fields' do
  = f.input :restaurant_id, :input_html => { :size => 9, :disabled => true }
  = f.input :name, :input_html => { :size => 8, :disabled => true }
  = f.input :address, :input_html => { :size => 8, :disabled => true }
  = f.input :city, :input_html => { :size => 8, :disabled => true }
  = f.input :state, :input_html => { :size => 8, :disabled => true }
  = f.input :pickup, :input_html => { :size => 8, :disabled => true }
  = f.input :delivery, :input_html => { :size => 8, :disabled => true }
  = f.input :min_delivery, :input_html => { :size => 8, :disabled => true }
  = f.input :delivery_fee, :input_html => { :size => 8, :disabled => true }


  .actions
    = f.submit
