=semantic_form_for @restaurant do |f|

    = f.input :mon_hours
    = f.input :tue_hours
    = f.input :wed_hours
    = f.input :thu_hours
    = f.input :fri_hours
    = f.input :sat_hours
    = f.input :sun_hours

    = f.commit_button



