=semantic_form_for @restaurant do |f|

    = f.input :pickup, :as => :radio, :collection => ["Y", "N"]
    = f.input :delivery, :as => :radio, :collection => ["Y", "N"]
    = f.input :min_delivery, :input_html => { :size => 9 }
    = f.input :delivery_fee, :input_html => { :size => 9 }
    = f.input :website
    = f.input :image_carousel_limit
    = f.input :image_carousel_count
    = f.input :payment_type_accepted
    = f.commit_button



