%h1 Listing restaurants
%table
  %tr
    %th Name
    %th Address
    %th City
    %th State
    %th Zipcode
    %th Pickup
    %th Delivery
    %th Min delivery
    %th Delivery fee
    %th
    %th
    %th
  - @restaurants.each do |restaurant|
    %tr
      %td= restaurant.name
      %td= restaurant.address
      %td= restaurant.city
      %td= restaurant.state
      %td= restaurant.zipcode
      %td= restaurant.pickup
      %td= restaurant.delivery
      %td= number_to_currency(restaurant.min_delivery)
      %td= number_to_currency(restaurant.delivery_fee)
      %td= link_to 'Show', restaurant
      %td= link_to 'Edit', edit_restaurant_path(restaurant)
      %td= link_to 'Destroy', restaurant, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Restaurant', new_restaurant_path