%h1 Listing restaurants
%table
  %tr
    %th Name
    %th Description
    %th Address
    %th City
    %th State
    %th Zipcode
    %th Mon. Hours
    %th Tue. Hours
    %th Wed. Hours
    %th Thu. Hours
    %th Fri. Hours
    %th Sat. Hours
    %th Sun. Hours
    %th Logo
    %th Pickup
    %th Delivery
    %th Min delivery
    %th Delivery fee
    %th Website
    %th Image Carousel Limit
    %th Image Carousel Count
    %th Payment Type Accepted
    %th
    %th
    %th
  - @restaurants.each do |restaurant|
    %tr
      %td= restaurant.name
      %td= restaurant.description
      %td= restaurant.address
      %td= restaurant.city
      %td= restaurant.state
      %td= restaurant.zipcode
      %td= restaurant.mon_hours
      %td= restaurant.tue_hours
      %td= restaurant.wed_hours
      %td= restaurant.thu_hours
      %td= restaurant.fri_hours
      %td= restaurant.sat_hours
      %td= restaurant.sun_hours
      %td= image_tag(restaurant.logo)
      %td= restaurant.pickup
      %td= restaurant.delivery
      %td= number_to_currency(restaurant.min_delivery)
      %td= number_to_currency(restaurant.delivery_fee)
      %td= restaurant.website
      %td= restaurant.image_carousel_limit
      %td= restaurant.image_carousel_count
      %td= restaurant.payment_type_accepted
      %td= link_to 'Show', restaurant
      %td= link_to 'Edit', edit_restaurant_path(restaurant)
      %td= link_to 'Destroy', restaurant, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Restaurant', new_restaurant_path