%p#notice= notice
%p
  %b Name:
  = @restaurant.name
%p
  %b Description:
  = @restaurant.description
%p
  %b Address:
  = @restaurant.address
%p
  %b City:
  = @restaurant.city
%p
  %b State:
  = @restaurant.state
%p
  %b Zipcode:
  = @restaurant.zipcode

%p
  = link_to 'Edit', edit_name_restaurant_path(@restaurant)

%p
  %b Monday Hours:
  = @restaurant.mon_hours
%p
  %b Tuesday Hours:
  = @restaurant.tue_hours
%p
  %b Wednesday Hours:
  = @restaurant.wed_hours
%p
  %b Thursday Hours:
  = @restaurant.thu_hours
%p
  %b Friday Hours:
  = @restaurant.fri_hours
%p
  %b Saturday Hours:
  = @restaurant.sat_hours
%p
  %b Sunday Hours:
  = @restaurant.sun_hours

%p
  = link_to 'Edit', edit_hours_restaurant_path(@restaurant)

%p
  %b Logo:
  = image_tag(@restaurant.logo)

%p
  = link_to 'Edit', edit_logo_restaurant_path(@restaurant)

%p
  %b Pickup:
  = @restaurant.pickup
%p
  %b Delivery:
  = @restaurant.delivery
%p
  %b Min delivery:
  = number_to_currency(@restaurant.min_delivery)
%p
  %b Delivery fee:
  = number_to_currency(@restaurant.delivery_fee)
%p
  %b Pickup:
  = @restaurant.pickup
%p
  %b Website:
  = @restaurant.website
%p
  %b Image Carousel Limit:
  = @restaurant.image_carousel_limit
%p
  %b Image Carousel Count:
  = @restaurant.image_carousel_count

%p
= link_to 'Edit', edit_misc_restaurant_path(@restaurant)
%p
|
\#{link_to 'Back', restaurants_path}
%p
= link_to 'Menu', restaurant_menus_path(@restaurant)