!!!
%html
  %head
    %title Rgv
    = csrf_meta_tag
    = stylesheet_link_tag 'blueprint/screen', :media => 'screen'
    = stylesheet_link_tag 'blueprint/print',  :media => 'print'
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    'rgv'
    /[if IE 6] <haml:loud> stylesheet_link_tag 'ie6' </haml:loud>
    /[if IE 7] <haml:loud> stylesheet_link_tag 'ie7' </haml:loud>
    = javascript_include_tag "application"



  %body
    = yield
    = debug(params) if Rails.env.development?



%p.notice= notice
%p.alert= alert
