!!!
%html
  %head
    %title Rgv
    = csrf_meta_tag
    / stylesheet_link_tag 'blueprint/screen', :media => 'screen'
    / stylesheet_link_tag 'blueprint/print',  :media => 'print'
    = stylesheet_link_tag :application
    = javascript_include_tag :application

  %body#store
  #banner
    = image_tag("logo.png")
    = @page_title || "RGV Eats"

  #columns
  #side
    #cart
    = render @cart

    = yield

    = debug(params) if Rails.env.development?



%p.notice= notice
%p.alert= alert
